@{
    ViewBag.Title = "Nasze pokoje";
}

<h2>Nasze pokoje</h2>
<div ng-init="fetch=true">
    <div ng-controller="RoomController" ng-cloak>
        <a class="btn btn-default btn-info" ng-date-range-search-picker="" ng-model="rangeSearch">Szukaj</a>

        <table class="table">
            <tr>
                <th>Numer</th>
                <th>Ilość sypialni</th>
                <th>Powierzchnia</th>
                <th>Cena</th>
                <th>Ekspozycja</th>
                <th></th>
            </tr>

            <tr ng-repeat="room in rooms">
                <td>
                    {{ room.Number }}
                </td>
                <td>
                    {{ room.Bedrooms }}
                </td>
                <td>
                    {{ room.Area }}
                </td>
                <td>
                    {{ room.Cost }}
                </td>
                <td>
                    {{ exposure(room.Exposure) }}
                </td>
                <td>
                    @if (Request.IsAuthenticated)
            {
                        <a class="btn btn-default btn-info" ng-date-range-picker="{{ room.Id }}" ng-auth="true" ng-model="range">Rezerwuj</a>
                    }
                    else
                    {
                        <a class="btn btn-default btn-info" ng-date-range-picker="{{ room.Id }}" ng-model="range">Zobacz dostępność</a>
                    }

                    @if (User.IsInRole(yEtiHotel.Models.ApplicationUser.ROLE_ADMIN))
                    {
                        @Html.Raw("| ");
                        <a href="/Rooms/Edit/{{ room.Id }}">Edycja</a>
                        @Html.Raw(" | ");
                        <a href="/Rooms/Delete/{{ room.Id }}">Edycja</a>
                    }
                </td>
            </tr>
        </table>
        @if (!@Request.IsAuthenticated)
        {
            <div class="text-danger">* Pokoje można rezerwować tylko jako zalogowany użytkownik</div>
        }
    </div>
</div>
