@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>
<h3>Zachęcamy do kontaktu!</h3>

<address>
    yEti Hotel<br />
    Gabriela Narutowicza<br />
    Telefon: 425.555.0100
</address>

<address>
    <strong>E-mail:</strong>   <a>yeti@hotel.pl</a><br />
</address>